<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winfred.mall.customer.mapper.PreMenuMapper">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.winfred.mall.customer.entity.PreMenuEntity">
    <id column="id" property="id"/>
    <result column="permission_id" property="permissionId"/>
    <result column="menu_id" property="menuId"/>
    <result column="create_time" property="createTime"/>
    <result column="update_time" property="updateTime"/>
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
    `id`,
                `permission_id`, 
                `menu_id`, 
                `create_time`, 
                `update_time`
  </sql>

  <select id="queryList" resultMap="BaseResultMap" parameterType="com.winfred.mall.customer.entity.PreMenuEntity">
    SELECT
    `id`,
    `permission_id`,
    `menu_id`,
    `create_time`,
    `update_time`
    FROM `pre_menu`
    <where>
      <if test="id != null and id != ''">
        AND `id` = #{id}
      </if>
      <if test="permissionId != null and permissionId != ''">
        AND `permission_id` = #{permissionId}
      </if>
      <if test="menuId != null and menuId != ''">
        AND `menu_id` = #{menuId}
      </if>
      <if test="createTime != null and createTime != ''">
        AND `create_time` = #{createTime}
      </if>
      <if test="updateTime != null and updateTime != ''">
        AND `update_time` = #{updateTime}
      </if>
    </where>
    <if test="orders != null">
      ORDER BY
      <foreach collection="orders" item="order" open="" separator="," close="">
        ${order.column} ${order.rule}
      </foreach>
    </if>
    <if test="offset != null and size != null">
      LIMIT ${offset}, ${size}
    </if>
  </select>

  <select id="queryListCount" resultType="java.lang.Integer"
          parameterType="com.winfred.mall.customer.entity.PreMenuEntity">
    SELECT
    COUNT(1)
    FROM `pre_menu`
    <where>
      <if test="id != null and id != ''">
        AND `id` = #{id}
      </if>
      <if test="permissionId != null and permissionId != ''">
        AND `permission_id` = #{permissionId}
      </if>
      <if test="menuId != null and menuId != ''">
        AND `menu_id` = #{menuId}
      </if>
      <if test="createTime != null and createTime != ''">
        AND `create_time` = #{createTime}
      </if>
      <if test="updateTime != null and updateTime != ''">
        AND `update_time` = #{updateTime}
      </if>
    </where>
  </select>

  <insert id="addOne" parameterType="com.winfred.mall.customer.entity.PreMenuEntity">
    INSERT INTO `pre_menu`
    (`id`,
     `permission_id`,
     `menu_id`,
     `create_time`,
     `update_time`)
    VALUES (#{id},
            #{permissionId},
            #{menuId},
            #{createTime},
            #{updateTime})
  </insert>

  <insert id="bulkUpsert" parameterType="java.util.List">
    REPLACE INTO `pre_menu`
    (
    `id`,
    `permission_id`,
    `menu_id`,
    `create_time`,
    `update_time`
    )
    VALUES
    <foreach collection="items" index="index" item="item" separator=",">
      (
      #{item.id},
      #{item.permissionId},
      #{item.menuId},
      #{item.createTime},
      #{item.updateTime}
      )
    </foreach>
  </insert>

  <select id="queryByIds" resultMap="BaseResultMap" parameterType="java.util.List">
    SELECT
    `id`,
    `permission_id`,
    `menu_id`,
    `create_time`,
    `update_time`
    FROM `pre_menu`
    <where>
      id IN
      <foreach collection="items" item="item" open="(" separator="," close=")">#{item}
      </foreach>
    </where>
  </select>

  <update id="updateIfNotNullById" parameterType="com.winfred.mall.customer.entity.PreMenuEntity">
    UPDATE `pre_menu`
    <set>
      <if test="permissionId != null">
        `permission_id` = #{permissionId},
      </if>
      <if test="menuId != null">
        `menu_id` = #{menuId},
      </if>
      <if test="createTime != null">
        `create_time` = #{createTime},
      </if>
      <if test="updateTime != null">
        `update_time` = #{updateTime}
      </if>
    </set>
    <where>
      `id` = #{id}
    </where>
  </update>
</mapper>
